form {
    width: 400px;
    margin: auto;
    background-color: gray;
    padding: 5px;
}

input {
    display : block;
    width : 95%;
    margin: auto;
    margin-bottom: 5px;
    padding: 10px 0px;
    font-size: 48px;
    font-weight: bold;
}

#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn {
    width : 96px;
    height : 100px;
    background-color: indigo;
    margin : 1px;
    border : 1px solid black;
    border-radius : 5px 5px;
    display : flex;
    align-items: center;
    justify-content: center;
}
.btnContent {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.containerExecute {
    padding: 10px 0px;
    width : 100%;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}
.btnExecute {
    width: 49%;
    height : 50px;
    font-weight: bold;
    font-size: 24px;
    border : none;
    border-radius : 5px 5px;
}
#btnReset {
    background-color: lightgray;
}
#btnReset:hover {
    background-color: darkgray;
}
#btnCalculate {
    background-color: blue;
}
#btnCalculate:hover{
    background-color: darkslateblue;
}